@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'PT Serif', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'PT Serif', serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Lato', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Lato', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'PT Serif', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Lato', sans-serif;
}
.mbr-author-desc {
  font-family: 'PT Serif', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Lato', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'PT Serif', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #e6343a !important;
}
.bg-success {
  background-color: #15b28a !important;
}
.bg-info {
  background-color: #eebb00 !important;
}
.bg-warning {
  background-color: #cccccc !important;
}
.bg-danger {
  background-color: #c0a375 !important;
}
.btn-primary {
  background-color: #e6343a;
  border-color: #e6343a;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #b7171c;
  border-color: #b7171c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b7171c !important;
  border-color: #b7171c !important;
}
.btn-secondary {
  background-color: #2682d5;
  border-color: #2682d5;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #1a5a94;
  border-color: #1a5a94;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1a5a94 !important;
  border-color: #1a5a94 !important;
}
.btn-info {
  background-color: #eebb00;
  border-color: #eebb00;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a27f00;
  border-color: #a27f00;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a27f00 !important;
  border-color: #a27f00 !important;
}
.btn-success {
  background-color: #15b28a;
  border-color: #15b28a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0d6e55;
  border-color: #0d6e55;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0d6e55 !important;
  border-color: #0d6e55 !important;
}
.btn-warning {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-danger {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #a01418;
  color: #a01418;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e6343a;
  border-color: #e6343a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e6343a !important;
  border-color: #e6343a !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #174d7e;
  color: #174d7e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2682d5;
  border-color: #2682d5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2682d5 !important;
  border-color: #2682d5 !important;
}
.btn-info-outline {
  background: none;
  border-color: #886b00;
  color: #886b00;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #eebb00;
  border-color: #eebb00;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #eebb00 !important;
  border-color: #eebb00 !important;
}
.btn-success-outline {
  background: none;
  border-color: #0a5743;
  color: #0a5743;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #15b28a;
  border-color: #15b28a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #15b28a !important;
  border-color: #15b28a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-danger-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.text-primary {
  color: #e6343a !important;
}
.text-success {
  color: #15b28a !important;
}
.text-info {
  color: #eebb00 !important;
}
.text-warning {
  color: #cccccc !important;
}
.text-danger {
  color: #c0a375 !important;
}
.alert-success {
  background-color: #15b28a;
}
.alert-info {
  background-color: #eebb00;
}
.alert-warning {
  background-color: #cccccc;
}
.alert-danger {
  background-color: #c0a375;
}
.btn-social {
  border-color: #e6343a;
}
.btn-social:hover {
  background: #e6343a;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #e6343a;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #e6343a;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #e6343a;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #e6343a;
}
.lead a,
.lead a:hover {
  color: #e6343a;
}
.lead blockquote {
  border-color: #e6343a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fceaea;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #5becc7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff0bb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #e6343a;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 20px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #e6343a;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #181818;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #2a2a2a!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #323232;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #e6343a;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #e6343a!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-2 .mbr-section-title,
#msg-box8-2 p {
  color: #fff;
}
#msg-box8-2 .mbr-section-title {
  color: #e6343a;
  font-size: 36px;
}
#msg-box8-2 .lead P {
  color: #000000;
}
#features4-3 .card-subtitle {
  color: #bcbcbc;
}
#features4-3 .iconbox {
  background-color: #e6343a;
  border-color: #e6343a;
}
#features4-3 H4 {
  color: #e6343a;
}
#msg-box8-4 .mbr-section-title,
#msg-box8-4 p {
  color: #fff;
}
#msg-box8-4 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box8-4 .lead P {
  color: #ffffff;
}
#features6-1 H4 {
  color: #000000;
}
#form1-9 .form-control-label {
  color: #ffffff;
}
#form1-9 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#social-buttons4-6 .mbr-section-title,
#social-buttons4-6 .btn-social {
  color: #fff;
}
#social-buttons4-6 .mbr-section-title {
  font-size: 36px;
}
#footer1-2 P {
  text-align: right;
  color: #cccccc;
}
